<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>To do list</title>
    <link rel="stylesheet" href="css/styles.css">
</head>
<body>
    <div class="box" id="heading">
        <h1><%=listTitle%></h1>
    </div>
    <div class="box">
        
       
            <% for(let i=0;i<nextListItem.length;i++){%>
                <form action="/delete" method="post">
                    <div class="item">  
                        <input type="checkbox" onchange="this.form.submit()" name="checkbox" value="<%= nextListItem[i]._id%>">
                        <p><%= nextListItem[i].name %> </p>
                    </div>
                    <input type="hidden" name="listName" value="<%=listTitle%>">
                </form>
            <%}%>
            <form action="/" method="post" class="item">
                <input type="text" name="nextItem" placeholder="New Item" autocomplete="off">
                <button type="submit" name="list" value="<%=listTitle%>">+</button>
            </form>
        
    </div>
    
    
</body>
</html>